<header>
  <img
    src="assets/img/laila.jpeg"
    alt="laila zappielo | Foto de perfil"
    width="130px" height="130px"
    loading="eager"
  />
  <h1>Laila Zappiello</h1>

  </header>

  <aside>
    <div class="container">
      <p>Front-end | Angular | GameDev</p>
      <p>Mogi das Cruzes, São Paulo, Brasil</p>
      <p>
        Sou estudante da área de desenvolvimento Front-end e desenvolvimento de jogos!
      </p>
      <nav>
        <ul>
          <li>
            <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
              Download CV
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/laila-zappiello/" target="_blank" class="btn btn-secondary">
              LinkedIn
            </a>
          </li>
        </ul>
      </nav>

      <section>
        <figure>
          <img
            src="assets/icons/whatsapp.svg"
            alt="Icone para contato whatsapp"
            width="22px" height="24px"
            >
        </figure>
        <figcaption>
          <a href="https://api.whatsapp.com/send?phone=%205511981642627&text=Vim+atraves+do+seu+portf%C3%B3lio%21" target="_blank">
            <strong> Envie uma mensagem para: </strong>
            <p>whatsApp: (11)98164-2627</p>
          </a>
        </figcaption>


        <figure>
          <img
            src="assets/icons/mail.svg"
            alt="Icone para contato E-mail"
            width="22px" height="24px"
            >
        </figure>
        <figcaption>
          <a href="mailto:lailazappiello90@gmail.com" target="_blank">
            <strong> Envie uma e-mail para: </strong>
            <p>Email: lailazappiello90&#64;gmail.com</p>
          </a>
        </figcaption>
      </section>
    </div>
  </aside>
